.filters-container {
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 0.35rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  background-clip: border-box;
  .filters-header {
    font-size: 18px;
    margin-bottom: 0.4rem;
  }
  button {
    border-color: #ccc;
    margin-bottom: 30px;
    &:hover {
      background-color: #f0fcff;
      color: #007bff;
      border-color: #007bff;
    }
  }
  .btn:focus {
    box-shadow: none !important;
  }
}
